{
    "AppStart": {
        "ScriptFile": "source://app.js"
    },
    "MatchCondition":{
	"MaxScreenWidth": "",
	"MinScreenWidth": "",
	"MaxScreenHeight": "",
	"MinScreenHeight": "",
	"OsType": "",
	"OsMinVersion": "",
	"OsMaxVersion": "",
	"WidthDivHeight": ""
    },
    "DesignEnvironment":{
	"ScreenWidth": "480",
	"ScreenHeight": "854"
    }
}